:root {
    --varOrange: #F57F18;
    --varRed: #EF4539;
    --varYellow: #e5f20d;
    --varBlack: #250f01;
    --varGray: #464542;
    --varLightOrangeText: #F4E7DF;
    --varLightOrange: #f57f1812;
    /* #F4E7DF; */
    --varBackgroundOrange: #FEF2E9;
    --varBackroundGray: #F0F0F0;
    --transition-5: all 0.5s ease-in-out;
    --transition-2: all 0.2s linear;
}


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    overflow-x: hidden;
    text-align: center;
    font-size: 16px;
    color: var(--varBlack);
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--varBlack);
}

br {
    height: 20px;
}

button {
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 30px;
    background-color: var(--varOrange);
    border-radius: 3px;
    border: solid 1px var(--varOrange);
}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
    margin: 0;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

p {
    line-height: 24px;

}

header {
    background-color: var(--varOrange);
}

.wrapper {
    padding: 100px 10px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper h2 {
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--varOrange); */
    height: 75px;
    padding: 0 10px;
}

.navbar .logo img {
    height: 70px;
    display: block;
}

.nav-container {
    position: absolute;
    top: 75px;
    background: var(--varOrange);
    width: 100%;
    left: 0;
    z-index: 1;
}

.nav-link-wrapper {
    height: 0;
    overflow: hidden;
    transition: var(--transition-5);
}

.nav-link-wrapper a {
    color: var(--varBlack);
    transition: var(--transition-2);
    padding: 5px 10px;
}


.nav-link-wrapper a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #fef2e9b3;
}

.social-icons-mobile a,
.social-icons-desktop a {
    transition: var(--transition-2);
    padding: 15px 5px 2px;
    border-radius: 5px;
}

.social-icons-mobile a:hover,
.social-icons-desktop a:hover {
    background-color: #fef2e94b;
}

.show-links {
    height: 250px;
}

li.nav-item {
    padding: 10px 0;
    font-family: 'Orbitron', sans-serif;
}

.social-icons-desktop {
    display: none;
}

.social-icons-mobile {
    display: flex;
    justify-content: center;
}

.social-icons-mobile li {
    padding: 10px 10px;
}



/***video cover****/

.home-cover {
    position: relative;
    height: calc(100vh - 75px);
    background-color: #020202a7;

}

#video-home-cover {
    /* position: fixed;
    left: 100%;
    top: -150px;
    transform: translateX(-50%);
    object-fit: cover;
     */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
    z-index: -1;
}



.content-over-video {
    color: var(--varLightOrangeText);
    position: relative;
}

.content-over-video h1 {
    padding: 75px 10px 50px;
}

.book-your-free-trial {
    margin: 75px 0 50px;
}

#video-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: transparent;
    color: var(--varBackroundGray);
}

/************* fitness training ***************/

#fitness-training {
    /* background-image: url("/assets/images/background-section.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--varBackroundGray);
}

.icon-text-container {
    width: 250px;
    margin: 0 auto;
    padding: 25px 10px;
    background-color: var(--varBackroundGray);
}


.icon-text-container lottie-player {
    height: 100px;
}

.icon-text-container h4,
.meet-the-coaches-image-text-container h4 {
    margin: 25px 0;
}

#meet-the-coaches {
    /* background-image: url("/assets/svg/hearts.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--varLightOrange);
}

.meet-the-coaches-wrapper {
    position: relative;
}

.hearts-1 {
    width: 150px;
    position: absolute;
    top: -15px;
    left: 0px;
}

.hearts-2 {
    width: 200px;
    position: absolute;
    bottom: -15px;
    right: 0px;
}

.meet-the-coaches-image-text-container {
    width: 250px;
    margin: 0 auto 50px;
    padding: 10px 10px 20px;
}

.meet-the-coaches-image-text-container img {
    width: 200px;
    height: 300px;
}


/************* free taster session ***************/

#taster-session {

    background-image: url(/assets/svg/taster-session-background.svg);
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-color: var(--varBackroundGray);
}

.taster-session-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* .taster-session-info div {
    margin-bottom: 10px;
} */

.taster-session-info {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

.taster-session-info .lottie-arrow {
    width: 35px;
    margin-bottom: 25px;
    cursor: pointer;
}

.taster-session-date-time {
    height: 0;
    overflow: hidden;
    transition: var(--transition-5);
    z-index: 5;
}

.show-taster-session-date-time {
    height: 600px;
}

.taster-session-date {
    font-weight: 600;
}

.taster-session-time {
    margin-bottom: 15px;
}

.taster-session-img img {
    width: 300px;
    height: 200px;
}

.taster-session-small-print {
    font-size: 0.75rem;
    text-align: left;
    padding: 25px 10px;
    width: 300px;
    margin: 0 auto;
}

.taster-session-small-print a {
    font-weight: 700;
}

/******************************************/

/************* carousel gallery ***************/

#gallery {
    /* background-image: url(/assets/svg/galerry_1.svg); */
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-color: var(--varBackgroundOrange);
}

.gallery {
    position: relative;
}

.phoenix-with-hearts {
    width: 100px;
    position: absolute;
    top: -50px;
    left: 0px;
}

.carousel {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/DSC02663.jpg);
}

.fade {
    -webkit-animation: 1.5s fade;
    animation: 1.5s fade;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

/******************************************/
/********* Footer ********/

footer {
    background-color: var(--varOrange);
    padding: 50px 25px;
    font-size: 0.75rem;
}

.links-menu ul {
    /* display: flex; */
    /* justify-content: space-evenly; */
    max-width: 900px;
    margin: 0 auto;
}

.links-menu ul li {
    padding: 10px 0;
    border: 1px solid var(--varBlack);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 120px;
    margin: 10px auto;
    font-weight: 600;
}

.footer {
    /* display: flex; */
    max-width: 1200px;
    margin: 0 auto;
}

.footer div:nth-child(2) {
    /* width: 20%; */
    padding: 20px;
}

.footer div:nth-child(1),
.footer div:nth-child(3) {
    /* width: 40%; */
    /* padding: 20px 50px; */
    padding: 20px 10px;
}

.footer div:nth-child(1) {
    text-align: left;
}

.footer div:nth-child(3) {
    text-align: right;
}

.copywright {
    font-size: 0.75rem;
    font-weight: 600;
}

/******************************************/
/********* Media  ********/


@media screen and (min-width: 650px) {

    .icons-text-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .icon-text-container {
        margin: 30px;
    }

    .links-menu ul {
        display: flex;
        justify-content: space-evenly;
    }

    .footer {
        display: flex;
    }

    .footer div:nth-child(1),
    .footer div:nth-child(3) {
        width: 40%;
        /* padding: 20px 50px; */
    }

    .taster-session-info .lottie-arrow {
        margin-bottom: 50px;
    }

    .taster-session-info {
        width: 500px;
    }


    .taster-session-img img {
        width: 600px;
        height: 400px;
    }

    .taster-session-small-print {
        width: 600px;
    }

}

@media screen and (min-width: 900px) {


    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.75em;

    }

    h3 {
        font-size: 2.5em;

    }


    button {
        font-size: 1.25em;
        font-weight: 600;
    }

    .navbar {
        max-width: 1200px;
        margin: 0 auto;
    }

    .nav-container {
        /* display: flex; */
        position: relative;
        /* justify-content: flex-end; */
        /* transform: scale(1, 1); */
        top: 0;

        /* transition-delay: 0.1s ease-in-out; */
        /* padding: 0; */
        /* width: 70%; */
        /* height: auto; */
    }


    .nav-link-wrapper {
        display: flex;
        justify-content: flex-end;
        height: auto;
        /* width: 70%; */
    }



    li.nav-item {
        padding-left: 20px;
    }

    .social-icons-mobile {
        display: none;
    }

    .social-icons-desktop {
        display: flex;
        width: 15%;
        justify-content: flex-end;
    }

    .social-icons-desktop li {
        padding-left: 20px
    }


    .nav-hamburger-icon-wrap {
        display: none;
    }


    .video-home-cover {
        left: 50%;
        object-fit: cover;
        /* width: 100%; */
    }

    .content-over-video {
        max-width: 1200px;
        margin: 0 auto;
    }

    .content-over-video h1 {
        padding: 150px 10px 100px;
    }

    .book-your-free-trial {
        margin: 100px 0;
    }

    /* .icons-text-wrapper {
        display: flex;
        flex-wrap: wrap;
    } */

    /* .break {
        flex-basis: 100%;
        height: 0;
    } */


    .meet-the-coaches-image-text-wrapper {
        display: flex;
        justify-content: space-between;
    }

    /************* carousel gallery ***************/



    .phoenix-with-hearts {
        width: 200px;
        top: -100px;
    }

    .carousel {
        width: 450px;
        height: 300px;
    }


    /******************************************/

}






/* hamburger icon used from  https://codepen.io/designcouch/pen/ExvwPY and amended to js code*/

.nav-hamburger-icon-wrap {
    overflow: hidden;
}

#nav-hamburger-icon-toggle {
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-hamburger-icon-toggle span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: var(--varBlack);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#nav-hamburger-icon-toggle span:nth-child(even) {
    left: 50%;
    border-radius: 0 5px 5px 0;
}

#nav-hamburger-icon-toggle span:nth-child(odd) {
    left: 0px;
    border-radius: 5px 0 0 5px;
}

#nav-hamburger-icon-toggle span:nth-child(1),
#nav-hamburger-icon-toggle span:nth-child(2) {
    top: 0px;
}

#nav-hamburger-icon-toggle span:nth-child(3),
#nav-hamburger-icon-toggle span:nth-child(4) {
    top: 12px;
}

#nav-hamburger-icon-toggle span:nth-child(5),
#nav-hamburger-icon-toggle span:nth-child(6) {
    top: 24px;
}

#nav-hamburger-icon-toggle.active span:nth-child(1),
#nav-hamburger-icon-toggle.active span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-hamburger-icon-toggle.active span:nth-child(2),
#nav-hamburger-icon-toggle.active span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-hamburger-icon-toggle.active span:nth-child(1) {
    left: 3px;
    top: 4px;
}

#nav-hamburger-icon-toggle.active span:nth-child(2) {
    left: calc(50% - 3px);
    top: 4px;
}

#nav-hamburger-icon-toggle.active span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-hamburger-icon-toggle.active span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-hamburger-icon-toggle.active span:nth-child(5) {
    left: 3px;
    top: 20px;
}

#nav-hamburger-icon-toggle.active span:nth-child(6) {
    left: calc(50% - 3px);
    top: 20px;
}





/* ===============Video===============*/



/* switch button */

.switch-btn {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 7rem;
    height: 2rem;
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--varOrange);
    transition: var(--transition);
    padding: 0;
    background-color: transparent;
}

.switch-btn span {
    display: inline-block;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--varLightOrangeText);
}

.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--varOrange);
    border-radius: 3px;
    margin: 0;
    display: block;
    transition: var(--transition-5);
}

.slide .switch {
    left: 50%;
}